In [10]:
import pandas as pd
df = pd.read_csv("agg_match_stats_0.csv")

In [4]:
df

,date,game_size,match_id,match_mode,party_size,player_assists,player_dbno,player_dist_ride,player_dist_walk,player_dmg,player_kills,player_name,player_survive_time,team_id,team_placement
0,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,1,2870.724000,1784.847780,117,1,SnuffIes,1106.320,4,18
1,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,1,2938.407230,1756.079710,127,1,Ozon3r,1106.315,4,18
2,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,0,0.000000,224.157562,67,0,bovize,235.558,5,33
3,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,0,0.000000,92.935150,0,0,sbahn87,197.553,5,33
4,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,0,2619.077390,2510.447000,175,2,GeminiZZZ,1537.495,14,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13849282,2018-01-04T04:12:58+0000,46,2U4GBNA0YmlWc_jEcSfkfTtWimxqUoNXDijilJ0EXsIlud...,tpp,2,1,1,0.000000,107.555237,187,0,YoungPee,174.608,20,39
13849283,2018-01-04T04:12:58+0000,46,2U4GBNA0YmlWc_jEcSfkfTtWimxqUoNXDijilJ0EXsIlud...,tpp,2,0,0,592.562439,571.859300,51,0,KnightShade_13,355.901,31,29
13849284,2018-01-04T04:12:58+0000,46,2U4GBNA0YmlWc_jEcSfkfTtWimxqUoNXDijilJ0EXsIlud...,tpp,2,0,1,900.445100,454.024000,73,1,XxXRynumXxX,355.896,31,29
13849285,2018-01-04T04:12:58+0000,46,2U4GBNA0YmlWc_jEcSfkfTtWimxqUoNXDijilJ0EXsIlud...,tpp,2,0,1,0.000000,36.453487,99,1,Unknown0311,128.873,35,32
13849286,2018-01-04T04:12:58+0000,46,2U4GBNA0YmlWc_jEcSfkfTtWimxqUoNXDijilJ0EXsIlud...,tpp,2,0,1,0.000000,304.118866,200,2,DoctorHrmm,299.494,35,32

In [5]:
df.columns.tolist()

['date',
 'game_size',
 'match_id',
 'match_mode',
 'party_size',
 'player_assists',
 'player_dbno',
 'player_dist_ride',
 'player_dist_walk',
 'player_dmg',
 'player_kills',
 'player_name',
 'player_survive_time',
 'team_id',
 'team_placement']

In [8]:
import numpy as np

g = df.groupby("date").agg(
    NA = pd.NamedAgg("party_size", np.sum), 
    EU = pd.NamedAgg("player_assists", np.sum), 
    JP = pd.NamedAgg("player_dbno", np.sum),
    total = pd.NamedAgg("player_dist_ride", np.sum)
)

g

                           NA  EU  JP          total
date
2017-10-20T08:01:47+0000  276  17  47   66754.130574
2017-10-20T08:03:30+0000  364  28  71  186446.793612
2017-10-20T08:03:59+0000  376  18  81  151034.183255
2017-10-20T08:04:16+0000  364  24  75   86978.751774
2017-10-20T08:04:49+0000  372  22  72  124370.314806
...                       ...  ..  ..            ...
2018-01-10T11:45:46+0000  388  23  92  130459.073669
2018-01-10T11:47:55+0000   67   0   0   60790.438997
2018-01-10T11:51:13+0000  392  28  93   65077.746334
2018-01-10T11:54:18+0000  372  33  75   82275.965930
2018-01-10T11:56:05+0000  372  26  84   98489.656062

[148334 rows x 4 columns]

In [11]:
df.append(df)

,date,game_size,match_id,match_mode,party_size,player_assists,player_dbno,player_dist_ride,player_dist_walk,player_dmg,player_kills,player_name,player_survive_time,team_id,team_placement
0,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,1,2870.724000,1784.847780,117,1,SnuffIes,1106.320,4,18
1,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,1,2938.407230,1756.079710,127,1,Ozon3r,1106.315,4,18
2,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,0,0.000000,224.157562,67,0,bovize,235.558,5,33
3,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,0,0.000000,92.935150,0,0,sbahn87,197.553,5,33
4,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,0,2619.077390,2510.447000,175,2,GeminiZZZ,1537.495,14,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13849282,2018-01-04T04:12:58+0000,46,2U4GBNA0YmlWc_jEcSfkfTtWimxqUoNXDijilJ0EXsIlud...,tpp,2,1,1,0.000000,107.555237,187,0,YoungPee,174.608,20,39
13849283,2018-01-04T04:12:58+0000,46,2U4GBNA0YmlWc_jEcSfkfTtWimxqUoNXDijilJ0EXsIlud...,tpp,2,0,0,592.562439,571.859300,51,0,KnightShade_13,355.901,31,29
13849284,2018-01-04T04:12:58+0000,46,2U4GBNA0YmlWc_jEcSfkfTtWimxqUoNXDijilJ0EXsIlud...,tpp,2,0,1,900.445100,454.024000,73,1,XxXRynumXxX,355.896,31,29
13849285,2018-01-04T04:12:58+0000,46,2U4GBNA0YmlWc_jEcSfkfTtWimxqUoNXDijilJ0EXsIlud...,tpp,2,0,1,0.000000,36.453487,99,1,Unknown0311,128.873,35,32
13849286,2018-01-04T04:12:58+0000,46,2U4GBNA0YmlWc_jEcSfkfTtWimxqUoNXDijilJ0EXsIlud...,tpp,2,0,1,0.000000,304.118866,200,2,DoctorHrmm,299.494,35,32